<!--<h2 class="text-center mx-auto p-4 text-blond">Formulario para Ticket</h2> en modo oscuro dark:text-pink-500-->
<div class="text-center mx-auto p-4 text-2xl font-bold text-black  ">Editar productos</div>
<form id="Editar_Producto">
    <div class="space-y-6 max-w-md mx-auto mt-10">

        <div class="form-group flex items-center gap-x-4 mb-4">



            <select id="pais"
                class="pl-8 w-full border border-gray-300 rounded-lg py-2 px-3 text-gray-700 focus:ring-2 focus:ring-blue-500 focus:outline-none">
                <option value="">Seleccione el producto </option>
                <option>café</option>
                <option>Collar</option>
                <option>Pan</option>

            </select>
        </div>


        <div class="form-group flex items-center gap-x-4 mb-4">
            <label class="block text-lg text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*']">
                Precio
            </label>
            <div class="relative flex-1">
                <span class="absolute inset-y-0 left-3 flex items-center text-gray-500 text-lg">$</span>
                <input type="number" id="precio" name="precio" min="0" max="99999"
                    oninput="if(this.value.length > 5) this.value = this.value.slice(0,5)"
                    class="pl-8 w-full border border-gray-300 rounded-lg py-2 px-3 text-gray-700 focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    placeholder="0.00" />
            </div>
        </div>


        <div class="form-group flex items-center gap-x-4 mb-4">
            <label class="block text-lg text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*']">
                Descuento
            </label>
            <div class="relative flex-1">
                <input type="number" id="descuento_precio" name="descuento_precio" min="0" max="100"
                    oninput="if(this.value > 100) this.value = 100; if(this.value.length > 3) this.value = this.value.slice(0,3)"
                    class="pr-8 w-full border border-gray-300 rounded-lg py-2 px-3 text-gray-700 focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    placeholder="0" />
                <span class="absolute inset-y-0 right-3 flex items-center text-gray-500 text-lg">%</span>
            </div>
        </div>

    </div>

    <div class="flex justify-end items-center gap-x-4 max-w-md mx-auto mt-12   ">

        <div class="justify-end max-w-md mx-auto mt-12">
            <button class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-6 rounded-lg shadow transition">
                Canclear
            </button>
        </div>


        <div class="flex justify-end max-w-md mx-auto mt-12">
            <button
                class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-6 rounded-lg shadow transition">
                Editar
            </button>
        </div>

    </div>

</form>