<!-- Botón que abre el modal -->
<button
  type="button"
  data-modal-target="registerEventoButtonModal"
  data-modal-toggle="registerEventoButtonModal"
  class="w-full bg-blue-600 text-white font-semibold py-2 rounded-lg hover:bg-blue-700 transition"
>
  Registrar evento
</button>

<!-- Modal con Flowbite -->
<div
  id="registerEventoButtonModal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Botón para cerrar -->
      <button
        type="button"
        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center"
        data-modal-hide="registerEventoButtonModal"
      >
        ✕
      </button>

      <div id="registerModalContent" class="p-6 bg-white rounded-lg">
        <h3 class="text-xl font-semibold text-gray-900 mb-4 text-center">
          Crear cuenta
        </h3>

        <form [formGroup]="eventoForm" (ngSubmit)="registrarEvento()" class="space-y-4">
            <!-- Nombre del evento -->
          <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Evento</label>
            <input
              type="text"
              formControlName="nombre_evento"
              required
              placeholder="Nombre del evento"
              class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500"
            />
            <p class="text-red-500 text-sm mt-1" *ngIf="eventoForm.get('nombre_evento')?.invalid && eventoForm.get('nombre_evento')?.touched">
              El nombre del evento es obligatorio y debe tener al menos 3 caracteres.
            </p>
          </div>

          <!-- Tipo de evento -->
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-700">Tipo de evento</label>
                <select formControlName="tipo_evento" 
                required
                placeholder="Tipo de evento"
                class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500"
                >
                    <option value="" disabled selected>Selecciona un tipo de evento</option>
                    <option *ngFor="let tipo of tipos_evento" [value]="tipo.value">{{ tipo.label }}</option>
                </select>
                <p class="text-red-500 text-sm mt-1" *ngIf="eventoForm.get('tipo_evento')?.invalid && eventoForm.get('tipo_evento')?.touched">
                  El tipo de evento es obligatorio.
                </p>
            </div>

            <!-- Nombre del visitante -->
          <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Nombre del visitante</label>
            <input
              type="text"
              formControlName="nombre_visitante"
              required
              placeholder="Nombre del visitante"
              class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500"
            />
            <p class="text-red-500 text-sm mt-1" *ngIf="eventoForm.get('nombre_visitante')?.invalid && eventoForm.get('nombre_visitante')?.touched">
              El nombre del visitante es obligatorio y debe tener al menos 3 caracteres.
            </p>
          </div>

            <!-- Fechas -->
            <div>
                <div>
                    <label class="block mb-1 text-sm font-medium text-gray-700">Fecha de inicio</label>
                    <input
                      type="date"
                      formControlName="fecha_inicio"
                      required
                      class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500"
                    />
                </div>
                <div>
                    <label class="block mb-1 text-sm font-medium text-gray-700">Fecha de fin</label>
                    <input
                      type="date"
                      formControlName="fecha_fin"
                      required
                      class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500"
                    />
                </div>
            </div>

            <!-- Horarios -->
            <div>
                <div class="relative">
                    <label class="block mb-1 text-sm font-medium text-gray-700">Hora de inicio</label>
                    <input
                      type="time"
                      formControlName="hora_inicio"
                      required
                      class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500"
                    />
                    <p class="text-red-500 text-sm mt-1" *ngIf="eventoForm.get('hora_inicio')?.invalid && eventoForm.get('hora_inicio')?.touched">
                      La hora de inicio es obligatoria.
                    </p>
                </div>
                <div class="relative mt-4">
                    <label class="block mb-1 text-sm font-medium text-gray-700">Hora de fin</label>
                    <input
                      type="time"
                      formControlName="hora_fin"
                      required
                      class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500"
                    />
                    <p class="text-red-500 text-sm mt-1" *ngIf="eventoForm.get('hora_fin')?.invalid && eventoForm.get('hora_fin')?.touched">
                      La hora de fin es obligatoria.
                    </p>
                </div>

                <!-- Validación cruzada fecha y hora -->
                <p class="text-red-500 text-sm mt-1" *ngIf="eventoForm.errors?.['fechaHoraInvalida'] && (eventoForm.get('fecha_inicio')?.touched || eventoForm.get('fecha_fin')?.touched)">
                  La fecha y hora de fin deben ser posteriores a las de inicio.
                </p>
            </div>

            <!-- Lugar -->
            <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Lugar</label>
            <input
              type="text"
              formControlName="lugar"
              required
              placeholder="Lugar del evento"
              class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500"
            />
            <p class="text-red-500 text-sm mt-1" *ngIf="eventoForm.get('lugar')?.invalid && eventoForm.get('lugar')?.touched">
              El lugar del evento es obligatorio.
            </p>
          </div>

          <!-- Capacidad -->
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-700">Capacidad</label>
                <input
                type="number"
                formControlName="capacidad"
                required
                placeholder="Capacidad del evento"
                class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500"
                />
                <p class="text-red-500 text-sm mt-1" *ngIf="eventoForm.get('capacidad')?.invalid && eventoForm.get('capacidad')?.touched">
                La capacidad es obligatoria y debe ser un número positivo.
                </p>
            </div>

            <!-- Costo -->
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-700">Costo</label>
                <input
                type="number"
                formControlName="costo"
                required
                placeholder="Costo del evento"
                class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500"
                />
                <p class="text-red-500 text-sm mt-1" *ngIf="eventoForm.get('costo')?.invalid && eventoForm.get('costo')?.touched">
                El costo es obligatorio y debe ser mayor a 0.
                </p>
            </div>

          <button
            type="submit"
            class="w-full bg-blue-600 text-white font-semibold py-2 rounded-lg hover:bg-blue-700 transition"
          >
            Registrar evento
          </button>
        </form>

        <p *ngIf="message" class="mt-4 text-green-600 text-sm text-center">
          {{ message }}
        </p>
      </div>
    </div>
  </div>
</div>
