/* 🔥 FullCalendar modo oscuro */
.dark .fc-theme-standard td,
.dark .fc-theme-standard th {
  color: white !important;
}

.dark .fc .fc-toolbar-title {
  color: white !important;
}

.dark .fc .fc-button {
  color: white !important;
}

.dark .fc .fc-col-header-cell-cushion {
  color: white !important;
}

.dark .fc .fc-daygrid-day-number {
  color: white !important;
}

.dark .fc .fc-timegrid-slot-label {
  color: white !important;
}

.dark .fc .fc-list-day-text,
.dark .fc .fc-list-day-side-text {
  color: white !important;
}
