<div class="bg-gray-100 h-screen w-64 flex flex-col items-center p-4 shadow-lg">
  <img src="/assets/MuseoIMG.png" alt="Logo Museo" class="w-20 mb-4" alt="Icono museo">

  <h2 class="text-xl font-bold mb-6 text-gray-800 text-center">Nombre del museo</h2>

  <button class="w-full bg-white hover:bg-gray-100 p-2 mb-2 rounded shadow text-gray-800 font-medium ">
    Crear nuevo usuario
  </button>

  <button
    class=" transform transition hover:scale-110 focus:scale-95   w-full bg-white hover:bg-gray-100 p-2 mb-2 rounded shadow text-gray-800 font-medium"
    (click)="navegarEditarCrearProducto()">
    Editar productos o servicios
  </button>


  

  <button class="w-full bg-white hover:bg-gray-100 p-2 mb-2 rounded shadow text-gray-800 font-medium"
    onclick="location.href='../editar-producto/editar-producto.html'">
    Agendar
  </button>

  <button class="w-full bg-white hover:bg-gray-100 p-2 mb-2 rounded shadow text-gray-800 font-medium">
    Configurar impresora
  </button>

</div>